<table class="table is-striped">
    <thead>
        <tr>
            <th>Article Title</th>
            <th>Word Count</th>
            <th>Page-ID</th>
            <th>Snippet of Article</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let page of pages">
            <td>
                <a target="_blank" [href]="'https://en.wikipedia.org?curid='+page.pageid">{{ page.title }}</a>
            </td>
            <td>{{ page.wordcount }}</td>
            <td>
                <a target="_blank" [href]="'https://en.wikipedia.org?curid='+page.pageid">{{ page.pageid }}</a>
            </td>
            <td [innerHTML]="page.snippet"></td>
        </tr>
    </tbody>
</table>